@model StudentsManagement_III.Models.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentCIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentCIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.studentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
