@model IEnumerable<StudentManagement2.Models.StudentsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_CIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Student_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Student_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Student_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
